<div id="notice"><%= @notice %></div>

<textarea rows="4" cols="50" disabled="true"><%= @content %></textarea>
<textarea rows="4" cols="50" disabled="true"><%= @frequency_count %></textarea>

<%= button_to 'Upload another file', cleanup_path, :class => 'btn btn-default', :method => :get %>